body{
    background-image: url("https://i.pinimg.com/736x/3a/35/52/3a3552026fb108e93155b482fc64e5ec.jpg");
}

.nav{
    background-color: white;
    padding: 8px;
    font-weight: bold;
    overflow: hidden;
    border: 3px solid black;
}

.nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
    color: black;
}

.nav a:hover {
    color: red;
}

h1 {
    color: black;
    border: 3px solid black;
    width: 50%;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.allpoems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.allpoems .container {
    font-weight: bold;
    font-size: 17px;
    color: black;
    border: 3px solid black;
    width: 50%;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.allpoems .container a {
   text-decoration: none;
   color: black;
}

.allpoems .container a:hover {
   color: red;
}





