body {
    background-image: url("https://i.pinimg.com/736x/a6/84/c2/a684c20cecac185ff3fa0507bfeaab60.jpg");

}

.text{
    color: black;
    background-color: beige;
    text-align: center;
   margin: auto;
  width: 50%;
  border: 3px solid yellow;
  padding: 10px;
}
