body{
    background-image: url("https://i.pinimg.com/736x/7e/d7/69/7ed76949990ad2a3ed6a3390225a44c4.jpg");
}

.nav{
    background-color: white;
    padding: 8px;
    font-weight: bold;
    overflow: hidden;
    border: 3px solid black;
}

.nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
    color: black;
}

.nav a:hover {
    color: red;
}

.written-by{
    align-items: center;
    margin: 25px auto;
    color: black;
    background-color: white;
    border: solid black;
    width: 50%;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.written-by p{
    font-size: 20px;
}

button{
    font-size: large;
    margin: 10px;
}

.update {
    font-size: large;
    border: 2px solid black;
    padding: 8px;
}

.update a {
    text-decoration: none;
    color: #000;
}

.update a:hover {
    color: red;
}