<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>New Poem</h1>
    <a href="/poem/new">New poem</a>
    <h1>Lists of poems</h1>
    <a href="/poem/all">Lists of poems</a>
    
    
</body>
</html>