<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepage.css">

</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="text">
    <h1>Welcome to poetry</h1>
    <h2>Your words don’t just tell stories—they breathe life into emotions we often can’t name. Keep writing; the world needs voices like yours
 </div>
</h2>
<br />

     <% if (user){ %>
    <a href="/poem/new" class="craete-button">Create Your poem</a>

    <%} %>
    
</body>
</html>