

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <%- include('../partials/navbar') %>

<h1>Create Poem</h1>
<form action="/poem/new" method="post">

    <label for = "authorname">Write authorname</label>
    <input type="text" name="authorname" id="authorname">

    <label for = "text">Write Your peom</label>
    <textarea type="text" name="text" id="text"></textarea>

    <label for = "reference"> reference (where did you git it)</label>
    <input type="text" name="reference" id="reference">

     <button type="submit">Create Poem</button>
     </form>

<!-- You are currently inside the new page -->
 <!-- Implement the delete functionality inside the details page -->



    <!-- /* 
1. create a router.get() that renders new-poem.ejs
2. create new-poem.ejs and inside the ejs add a form with the same information as the model
3. submit the form as a method=post and as a action = /peom/new
*/
 -->
</body>
</html>
